#admin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f6f6f6;
}

#admin-heading {
  flex: 0;
}

#admin-body {
  flex: 1;
  flex-basis: 0;

  textarea {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;
    font-family: Monospace;
  }
}

#admin-footer {
  flex: 0;
  padding: 20px 10px;
  background: #fff;
  text-align: right;

  p {
    margin: 0;
  }
}